.wraper {
    background-color: green;
    width: 87%;
    margin-left: 8%;
    margin-top: 7%;
    border-radius: 15px;
    border: solid black 2px;
}

.card img {
    width: 35%;
    height: 65vh;
    padding-left: 30%;
    padding-top: 5%;
    border: solid white 2px;
}